<link href="https://unpkg.com/shell.js@1.0.5/dist/css/shell.min.css" rel="stylesheet" />
<link href="https://code.jquery.com/ui/1.12.1/themes/cupertino/jquery-ui.css" rel="stylesheet" />
<link href="https://unpkg.com/jquery.terminal/css/jquery.terminal.min.css" rel="stylesheet" />
<link href="https://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />

/*To Do: 
Change Terminal Output Color 
Make terminal greeting akin to unix
Put in embed info for discord.
Greyharrow old color used to be #a8c1f1
Kamina old color: fffe34
Kadman color: 8fd4f4
*/


html, body {
    margin: 0 auto;
    padding: 0;
   /* background-image: url("https://i.imgur.com/8R7A5bm.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #001021;
    background-position: 0px 34%;*/
}
#backgroundvid {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.homelogo{
    margin: 0;
    
}
.navbar{
    display: flex;
    background-image: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(255, 105, 0, 1) 100%); 
    height: 28px;
    border-bottom: 1px solid #FF6900;
    margin: -8px;
    
}
.navbarentry{
    margin: 0 20px;
    font-size: 20px;
    position: relative;
    top: -15px;
    /* Position Relative and the Top thingy can be used to put these block elements above their standard locations.*/
    /*font-family: 'Iceberg', cursive;*/
    font-family: 'Trade Winds', cursive;
    color: #666666;
    text-shadow: 0px 0px 10px 000000;
}
.homelogo{
    margin: 0 0 0 2%;
    background-image: url(images/PTMVeye2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 60px;
}
#bookmarks{
    color: #FF6900;
    text-shadow: 1px 1px 2px black;
    margin: 0px 0 0 0;
    
}
#bump{
    position: relative;
    width:100%;
    height:100%;
    opacity: 100%;

    }
    

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  cursor: pointer;
  margin: 16px 0 -1px 0;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #000000;
  border-bottom: 1px solid #FF6900;
  margin: 15px 0 0px 0;
  
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,60%);
  min-width: 300px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 2px 0;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content .alink:hover {
    text-shadow: 0 0 2px #FF6900;
}
.dropdown-content .ulink:hover {
    text-shadow: 0 0 2px #444444;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:block;}
.ulink {
    color: #666666;
    text-shadow: 0 0 2px #000000;
}
.alink {
    color: #FF6900;
    text-shadow: 0 0 2px #000000;
}
.material-symbols-outlined {
    color: #000000;
    background: #FF6900;
    border-radius: 15px;
    display: inline-block;
}

/* Terminal Shit begins here. */
body .shell {
    width: 760px;
    border: 2px solid #FF6900;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 40px;
    margin-left: 1000px;



}
body .shell .terminal {
    height: calc(100% - 29px);
    --size: 1.1;
    /*
     * padding bottom 0 on terminal and margin
     * on .cmd will be in version 2.0.1
     * that fixes FireFox issue
     */
    padding-bottom: 0;
}

body .shell .terminal .cmd {
    margin-bottom: 64px;
}
.shell .typed-cursor, .shell .cursor {
    background: transparent;
}

.shell > .status-bar .title {
    cursor: move;
    background-image: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(255, 105, 0, 1) 100%);
    color: #FF6900;
    font-size: 24px;
    font-family: 'Iceberg', cursive;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    margin-top: -29px;
    border-radius: 6px;
    text-align: center;

    



}

@supports (--css: variables) {
    .shell.ubuntu .terminal {
        --background: #000000;
        --color: #FF6900;
        --opacity: 0.7;
    }
}
/*
 * overwrite shell.js style because shell.js   
 * selectors are stronger then terminal ones
 */
.cmd span.cursor {
    animation: none;
    width: auto;
    background-color: var(--background, --opacity: 70%, #000);
}
.shell:not(.light) terminal.content,
.shell.osx.dark .content,
.shell.ubuntu:not(.light) .content {
    background-color: var(--background, #222) !important;
}
.shell .terminal.cmdcontent {
    font-size: 12px;
        opacity: 60%;
}
.terminal img {
    max-width: 100%;
}
.cmd {
    background-color: inherit;
}
@supports (--css: variables) {
    .shell .terminal.content {
        font-size: calc(var(--size, 1) * 12px);
    }
}
/* fix for Firefox */
.terminal > .resizer, .terminal > .font .resizer {
    visibility: visible;
    pointer-events: none;
}
.terminal::-webkit-scrollbar-track
{
	border: 2px solid var(--color, #aaa);
	background-color: var(--background);
}
.terminal::-webkit-scrollbar
{
	width: 10px;
	background-color: var(--background);
}
.terminal::-webkit-scrollbar-thumb
{
	background-color: var(--color, #aaa);
}
